.remove_menu_btn {
    padding-top: 30px;
}

.item_child {
    display: none;
}

.lang_container {
    padding-top: 3px;
    margin-right: -30px;
}

.m-brand .m-brand__logo .m-brand__logo-wrapper img {
    width: 100%;
}

.footerTr{
    background-color: silver;
}

.footerTr th{
    font-weight: 700;
}